public-hoist-pattern[]=*@codemirror/*
public-hoist-pattern[]=*@floating-ui/*
public-hoist-pattern[]=*@formatjs/*
public-hoist-pattern[]=*@dnd-kit/*
public-hoist-pattern[]=*@cyntler/*
public-hoist-pattern[]=next
strict-peer-dependencies=false

prefer-offline=true
store-dir=/workspaces/.pnpm-store
frozen-lockfile=false
side-effects-cache=false
verify-store-integrity=false
node-linker=hoisted
package-import-method=hardlink
child-concurrency=32
network-concurrency=32
